if SHIELD_ERGO_VOID_LEFT

    config ZMK_KEYBOARD_NAME
        default "Void Ergo"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y
endif

if SHIELD_ERGO_VOID_LEFT || SHIELD_ERGO_VOID_RIGHT

    config ZMK_SPLIT
        default y

endif